DB_PASSWORD=changeme
JWT_SECRET=changeme
MAIL_USERNAME=changeme
MAIL_PASSWORD=changeme
GROQ_API_KEY=changeme
MISTRAL_API_KEY=changeme
HF_TOKEN=changeme
TRELLO_API_KEY=changeme
TRELLO_API_TOKEN=changeme
TRELLO_BOARD_ID=changeme
TRELLO_LIST_NON_DEMARRE=changeme
TRELLO_LIST_EN_COURS=changeme
TRELLO_LIST_A_JOUR=changeme